{
  "env": {
    "browser": true,
    "es2021": true,
    "jest/globals": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint",
    "jest"
  ],
  "extends": [
    "next/core-web-vitals",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/recommended",
    "plugin:react-hooks/recommended"
  ],
  "rules": {
    "@typescript-eslint/consistent-type-imports": "warn",
    "no-underscore-dangle": 0
  },
  "ignorePatterns": [
    "*.config.js"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}